@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root{
    --lightcolor: #5B5A55;
    --darkcolor: #5B5A55;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(corkboard.jpg);
    color: #000000;
   
}



/*I should make these post it notes and put the list of my job description on the post it notes*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    column-count: 3;
}
/*I should make these post it notes and put the list of my job description on the post it notes the entire page can be one big board where they are pinned in- would give depth and look nice */
.flex-child {
    flex: 1 1 33%;   
    width: 200px;
    height: 100%;
    padding: 5px;
    background-image: url(gimpPostIt.png);
    background-image: no-repeat;
    background-size: cover;
    display: inline-block;

}  

.textchild{

    margin-left: 10%;
    margin-bottom: 15%;
    margin-right: 20%;
    margin-top: 15%;
    font-size: large;
    
}




.navbuttons{
    display: flex;
    align-items: center;
    color: #080808;    
    text-align: center;
    justify-content: center;
}

.nav-links{
    list-style-type: none;
    width: 100%;
}

.menu{
    display: flex;
    font-size: 20px;
    list-style: none;
    width: 100%;
}

.navlist{
    padding: 10px;
    background-color: #ecf00b9a;
    color: rgb(0, 0, 0);
}


header{
    background-image: url("wrinkled.jpg");
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    padding-top: 1px;
    border-radius: 15px;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}


.headertext{

        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
}

footer{
    
    background-image: url("wrinkled.jpg");
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 5%;
    position: relative;    
    bottom: 0;
    left:0;
    border-radius: 15px;
}

/* This was old format
.left{
    width:20%;
    margin-left: 10%;
    background-color: #5B5A55;
    padding-top: 10px;
    text-align: center;
    padding-right: 10px;
    padding-left: 5px;
    min-width: 300px;
    border-radius: 15px;
    
}


.experience{
    
    border-radius: 15px 50px 30px 5px;
    width: 80%;
    text-align: left;
    padding: 5px;
    column-count: 2;
    padding-left: 50px;
    background-image: url(largePostIt.png);
   
 
}
*/

.column-list {
    column-count: 3;
    }

p{
    margin-top: -10px;
}

.selfie{
    display: inline-block; 
    position: relative; 
    width: 180px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

li{
    text-align: left;
    padding-left: 5px;
}


/*This is CSS For my forms*/
.contactform{

    background-image: url(paperclip.png);
    
    background-repeat: no-repeat;
    text-align: center;
    color: #000000;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 2%;  
    padding: 1%;
    
}

label{
    font-size: 20px;
    text-align: left;
    width: 15%;
    display: inline-block;
    padding-bottom: 15px;
    
}



button{
    background: #5a595f;
    outline: none;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 200px;
     
}

input,

textarea {

    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 0;
    width: 20%;
    background-color: #e9fa00;
}


.contactmessage{
    width: 80%;
}

#aboutmevid{
    margin-bottom: 5%;
}


@media all and (min-width:320px) and (max-width: 767px)
{
    
    .flex-container{
        column-count: 1;
    }
    .flex-child{
        flex: 1 1 100%;   
        width: 200px;
        height: 100%;
        padding: 5px;
        background-image: url(gimpPostIt.png);
        background-image: no-repeat;
        background-size: cover;
        display: inline-block;
       
    }
    .textchild{
        font-size: small;
    }
}


@media all and (min-width:768px) and (max-width: 1199px)
{
       .flex-container{
        column-count: 1;
    }
    .flex-child{
        flex: 1 1 100%;   
        width: 200px;
        height: 100%;
        padding: 5px;
        background-image: url(gimpPostIt.png);
        background-image: no-repeat;
        background-size: fill;
        display: inline-block;
        text-size-adjust: 5px;
    }
    .textchild{
        font-size:medium;
    }
}

